#header {
    position: fixed;
    height: var(--header-height);
    width: 100%;
    background-color: #225eace2;
    top: 0;

    display: flex;
    justify-content: space-evenly;

    img {
        height: 100%;
    }

}